html, body {
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Bellota Text', cursive;
    background-color: black;
    overflow-x: hidden;
}

h3 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

header {
    display: flex;
    justify-content: center;
    height: 200px;
}

.pokedexLogo {
    width: 500px;
    cursor: pointer;
}

.pokemonoverview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
}

.pokemoncard {
    height: 100px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    border: 4px solid;
    border-radius: 6px;
    border-color: black;
    color: white;
    display: flex;
    justify-content: flex-start;
    padding-left: 12px;
    margin: 18px;
}


.pokemondetails {
    width: 150px;
}

.pokemon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
}

.pokedex {
    position: relative;
    margin-top: 30px;
}

.pokemonImg {
    width: 160px;
    height: 160px;
    position: absolute;
    right: 21px;
    top: -16px;
}

img {
    filter: drop-shadow(0 0 19px #000000);
}

button {
    border: none;
    border-radius: 3px;
    margin-bottom: 5px
}

.type-icons img {
    width: 28px;
    height: 28px;
}

.types span {
    display: flex;
    gap: 12px;
}

.weight {
    color: white;
}

.nameAndId {
    display: flex;
    gap: 8px;
}

/* Search */

.error {
    width: 300px;
    display: flex;
    text-align: left;
}

.error-message {
    margin-top: 16px;
    font-size: 20px;
    color: #fffff4;
    line-height: 1.3;
}

/* Overlay Style */

.overlayPokemoncard {
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
    border-color: black;
    color: white;
    display: flex;
    justify-content: flex-start;
    margin: 18px;
    top: 184px;
    left: -10px;
    width: 284px;
    height: 391px;
    position: absolute;
}


.overlayPokemondetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 32px;
    margin-bottom: 32px;
}


.overlayPokedex {
    position: relative;
    background-color: rgb(83, 79, 79);
    height: 600px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 6px;
}

.overlayPokemonImg {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 47px;
    top: 47px;
    z-index: 2;
}

.overlayPokemonImg img {
    filter: none;
}

.overlayNameAndId {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlayNumber {
    color: white;
    margin: 16px;
}

.closeIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeIcon img {
    width: 24px;
    height: 24px;
    transition: 0.3s;
    margin: 16px;
}

.closeIcon img:hover {
    color: #ffffff;
    cursor: pointer;
}

.overlayTypeIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.overlayTypeIcons img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.overlayTypes span {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.overlayTypes {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.weight {
    color: white;
}

.weight h4 {
    color: rgb(160, 160, 160);
}

.height h4 {
    color: rgb(160, 160, 160);
}

.weightAndHeight {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    margin-top: 8px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.overlay-bgr {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.overlay:hover {
    transition: 225ms ease-in-out;
}

.overlayNavigation {
    display: flex;
    align-items:flex-end;
    justify-content: space-evenly;
    width: 100%;
}

.move-container {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 162px;
    width: 239px;
    text-align: center;
    padding-right: 12px;
}

.move {
    padding: 6px;
    border: 1px solid white;
    margin-right: 6px;
    margin-left: 24px;
    margin-bottom: 8px;
    border-radius: 5px;
}

.canvasContainer {
    height: 136px;
    margin-top: 26px;
}

.backward {
    width: 32px;
    height: 32px;
    top: 50px;
    left: 10px;
    z-index: 3;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: absolute;
}

.backward:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
}

.forward {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 10px;
    top: 50px;
    z-index: 3;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.forward:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
}

.scrollStop {
    overflow: hidden;
}

.moves {
    margin: 4px;
    border: 1px solid white;
    text-align: center;
}

#myChartStats {
    width: 270px;
}

/* Buttons */

.loadMoreButton {
    padding: 20px 35px;
    background: #000000;
    color: #fffedc;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s all ease-in;
    letter-spacing: 4px;
    overflow: hidden;
    border: 2px solid #fffedc;
    margin-top: 84px;
    margin-bottom: 128px;
    font-weight: bold;
}

.loadMoreButton:hover {
    background: #fffedc;
    color: #050801;
    box-shadow: 0 0 5px #fffedc,
        0 0 25px #fffedc,
        0 0 50px #fffedc,
        0 0 100px #fffedc;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    cursor: pointer;
    font-weight: bold;
}

.box {
    position: relative;
    margin-bottom: 24px;
}

.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid #fffedc;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 26px;
    color: #fffedc;
    outline: none;
    transition: .5s;
}

.input::-webkit-input-placeholder {
    color: transparent;
}

.input-focused {
    width: 320px;
    background: #302c35;
    border-radius: 10px;
}

.input-focused::-webkit-input-placeholder {
    color: #919191;
}

.box:hover input {
    width: 320px;
    background: #302c35;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #fffedc;
    transition: .2s;
    cursor: pointer;
}

.overlayNavigation button {
    color: white;
    background-color: black;
    font-size: 16px;
    margin-top: 40px;
    border: solid 2px white;
    border-radius: 6px;
    padding: 12px;
    width: 40%;
    cursor: pointer;
}

.d-none {
    display: none !important;
}

.pokedex:hover {
    transform: scale(1.1);
    transition: 125ms ease-in-out;
    cursor: pointer;
}

.zoomedImage {
    z-index: 3;
}

.pokemonDetails {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemonoverview {
    max-width: 100vw;
    margin-top: 0px;
}

.pokemoncard {
    height: 90px;
    width: 262px;
}

.pokemonImg {
    width: 120px;
    height: 120px;
    right: 22px;
    top: 2px;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border: 1px solid white;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}


/* Media Queries */

@media (max-width: 500px) and (min-width: 421px) {

    header {
        height: 170px;
    }

    .pokedexLogo {
        max-width: 421px;
    }

    .pokemonoverview {
        max-width: 500px;
        margin-top: 0px;
    }

    .pokemoncard {
        height: 100px;
        width: 300px;
    }
}

@media (max-width: 420px) and (min-width: 351px) {

    header {
        height: 150px;
    }

    .pokedexLogo {
        max-width: 351px;
    }

    .box {
        margin-bottom: 4px;
    }

    .box:hover input {
        width: 262px;
    }
}

@media (max-width: 350px) and (min-width: 281px) {

    header {
        height: 100px;
    }

    .pokedexLogo {
        max-width: 281px;
    }

    .box {
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .box:hover input {
        width: 240px;
    }

    .input-focused {
        width: 250px;
    }

    .error {
        width: 250px;
    }

    .pokemonoverview {
        max-width: 100vw;
        margin-top: 0px;
    }

    .pokemoncard {
        height: 80px;
        width: 230px;
    }

    .pokemonImg {
        width: 100px;
        height: 100px;
        right: 21px;
        top: 8px;
    }
}

@media (max-width: 280px) {

    header {
        height: 100px;
    }

    .pokedexLogo {
        max-width: 250px;
    }

    .box {
        margin-bottom: 2px;
        margin-top: 0px;
    }

    .box:hover input {
        width: 220px;
    }

    .input {
        height: 60px;
    }

    .input-focused {
        width: 250px;
    }

    .error {
        width: 220px;
    }

    .pokemonoverview {
        max-width: 100vw;
        margin-top: 0px;
    }

    .pokemoncard {
        height: 151px;
        width: 200px;
    }

    .pokemonImg {
        width: 100px;
        height: 100px;
        right: 28px;
        top: 63px;
    }
}