.normal {
    background-color: #9099A1;
}

.fire {
    background-color: #FF9C54;
}

.water {
    background-color: #4D90D5;
}

.grass {
    background-color: #63BB5B;
}

.electric {
    background-color: #F3D23B;
}

.ice {
    background-color: #74CEC0;
}

.fighting {
    background-color: #CE4069;
}

.poison {
    background-color: #AB6AC8;
}

.ground {
    background-color: #D97746;
}

.flying {
    background-color: #8FA8DD;
}

.psychic {
    background-color: #F97176;
}

.bug {
    background-color: #90C12C;
}

.rock {
    background-color: #C7B78B;
}

.ghost {
    background-color: #5269AC;
}

.dark {
    background-color: #5A5366;
}

.dragon {
    background-color: #0A6DC4;
}

.steel {
    background-color: #5A8EA1;
}

.fairy {
    background-color: #EC8FE6;
}